crawl4ai>=0.8.0
google-generativeai
edge-tts
moviepy>=2.0.0
requests
pyyaml
asyncio
streamlit
watchdog
nest_asyncio
beautifulsoup4
lxml
python-dotenv
cx_Freeze
matplotlib
pandas
torch
diffusers
transformers
accelerate
safetensors
modelscope
